@mixin flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@mixin flex-box {
  @include flex-container;
  max-width: 1200px;
}

@mixin flex-row {
  flex-direction: row;
  justify-content: center;
}

@mixin flex-padding {
    padding: 10px;
}

@mixin body-local {
  @include flex-container;
  justify-content: center;
  flex: 1;
}