@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.Navbar {
    z-index: 100;
    position: fixed;
    top: 0;
    padding: 10px;
    background-color: rgba($color-background-bar, 0.9);

    .box {
        justify-content: space-between;
        align-items: baseline;

        .logo {
            font-size: 40px;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 40px;
        }
    }
}