@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.Navbar {
    z-index: 100;
    position: fixed;
    top: 0;
    max-width: 100%;
    padding: 10px;
    border: 0 solid rgba($color-background-bar, 0.5);
    border-bottom: 1px solid rgba($color-background-bar, 0.5);
    background-color: rgba($color-background-bar, 0.2);

    backdrop-filter: blur(10px);
    transition: 200ms;

    .box {
        justify-content: space-between;
        align-items: baseline;

        .logo {
            font-size: 40px;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 40px;
        }

        @media (max-width: 600px) {

            justify-content: center;

            ul {
                display: none;
            }
        }
    }

}

.NavReduce {
    top: 10px;
    max-width: 1200px;
    width: calc(100% - 20px);
    border: 1px solid rgba($color-background-bar, 0.2);
    border-radius: 10px;


}