.Particulas { 
    position: relative;
    width: 100%;
    height: 100%;

    canvas {
        position: absolute;
        inset: 0;
    }

    .children {
        pointer-events: visibleStroke;
        position: relative;
        flex: 1;
    }
}